@namespace HybridTest.Components.Hybrid
@using Microsoft.AspNetCore.Components
@using HybridTest.Services
@using RazorConsole.Components
@inject IHostingMode HostingMode

@if (HostingMode.IsWeb)
{
    <div class="container">
        <div class="row">@ChildContent</div>
    </div>
}
else
{
    <Columns>@ChildContent</Columns>
}

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
